nav
  position: fixed
  width: 100%
  background: rgba(0, 0, 0, 0.5)

  .nav
    display: flex
    padding: 20px 40px
    justify-content: space-between
    color: white
    font-size: 28px
    font-weight: 800

    i
      color: white

.banner
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  background-image: url("../img/tom-1.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.textcontent
  width: 70%
  margin: 0 auto
  color: white

  h1
    text-transform: uppercase
    font-size: 2rem
    font-weight: bold

  .hello
    width: 50px
    padding-bottom: 10px
    border-bottom: 3px solid rgba(255, 255, 255, 0.5)
    color: rgba(255, 255, 255, 0.5)
  
  .skillset
    font-size: 0.8rem
    color: rgba(255, 255, 255, 0.5)


.profile
  display: flex

  .about
    width: 50%
    background-image: url("../img/ben-2.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    color: white
    padding: 60px 20px

    .abouttext
      width: 50%
      float: right
      height: 100%

      .col
        display: flex
        flex-direction: column
        justify-content: space-between
        align-content: center
        margin: aut0 auto
        height: 100%

        h4
          font-weight: bold
          font-size: 1rem

        p
          font-size: 0.9rem
          color: rgba(255, 255, 255, 0.5)
          line-height: 1.5rem

        button
          border: 1px solid white
          padding: 8px 16px
          font-size: 0.9rem
          font-weight: bolder
          
        .cv
          margin-right: 20px
          background: transparent
          color: white

        .hire
          background: white
          color: black
  
  .doing
    width: 50%
    padding: 60px 40px 50px 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #f1f1f1

    h4
      font-weight: bold
      font-size: 1rem

    p
      font-size: 0.9rem

    .stuffs
      height: 80%

      .firststuff
        display: flex

        .stuff:hover
          background: #696051
          color: white
          transform: scale(1.1)

        .stuff
          padding: 20px 10px
          width: 150px
          transition: all 0.3s

          i
            margin: 10px 0px
            font-size: 30px

          .stuff-title
            font-size: 0.8rem
            font-weight: 600
            margin: 10px 0px

          .stuff-desc
            font-size: 0.6rem
            font-weight: lighter

.projs  
  .projfilter
    padding: 50px 
    display: flex
    justify-content: space-around

    .projtitle
      h3
        font-size: 1rem
        font-weight: bolder
        margin: 5px

    .projnav
      display: flex

      p
        font-size: 0.7rem
        margin: 5px 10px 5px 10px
        padding-bottom: 5px
        transition: all 0.3s

      p:hover
        border-bottom: 2px solid black
        cursor: pointer
        margin: 5px 10px 3px 10px
        padding-bottom: 5px

      .all
        font-weight: bolder

  .projtiles
    background: #f1f1f1
    display: flex

    .projtile
      flex: 1

      .middle
        transition: .5s ease
        opacity: 0
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        text-align: center
        .text
          background-color: #696051
          color: white
          font-size: 12px
          text-decoration: none
          padding: 10px 20px

      .web, .sec
        height: 50%

      .projpic:hover .middle
        opacity: 1

      .projpic:hover img
        opacity: 0.1
        transform: scale(1.1)

      .firebase
        height: 33.3333%

      .one
        background: #dcdcdc

      .two
        background: #cecece

      .three
        background: #c5c5c5

      .projpic
        position: relative
        height: 100%
        width: 100%

        img
          width: 100%
          transition: all .5s ease;
          backface-visibility: hidden;

  .allproj
    padding: 40px
    text-align: center

    a
      color: black
      font-weight: 600
      text-decoration: none
      font-size: 0.9rem

      i
        margin-left: 20px
        font-size: 1rem

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
  
  50%
    -webkit-transform: rotate(-180deg)
    -webkit-transform: rotate(270deg)


@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

  50%
    transform: rotate(-180deg)

.skills
  color: white
  background: url("../img/47.jpg")
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed
  display: flex
  flex-direction: column
  justify-content: center
  font-size: 1rem
  padding: 50px 0px

  .skillarea
    height: 70%
    width: 70%
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: space-between

  .stacks
    display: flex
    width: 500px
    justify-content: space-between
    margin: 20px 0px

    .stack:hover
      transform: scale(1.2)

    .stack
      position: relative
      width: 100px
      transition: all 0.3s

      .stackitem
        border: 5px solid #f3f3f3
        border-radius: 50%
        width: 100px
        height: 100px
        -webkit-animation: spin 5s linear infinite
        animation: spin 5s linear infinite

      
      .s1
        border-top: 5px solid #696051

      .s2
        border-bottom: 5px solid #696051

      .s3
        border-left: 5px solid #696051

    .photo
      position: absolute
      top: 50%
      left: 50%
      width: 60px
      transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)

    img
      width: 100%
    
  button
    border: 1px solid white
    padding: 8px 16px
    font-size: 0.9rem
    color: white
    background: transparent
    transition: all 0.4s
    width: 200px

  button:hover
    background: white
    color: black
    transform: scale(1.1)

  p
    font-size: 0.9rem
    line-height: 1.3rem
    color: rgba(255,255,255, 0.5)
    margin: 30px 0px 30px 0px


.time
  padding: 10px 0px 60px 0px
  font-size: 1rem
  
  h3
    margin: 50px 0px
    text-align: center
    font-size: 1rem
    font-weight: bold

  .timeline::after
    content: ''
    position: absolute
    width: 2px
    background-color: #c5c5c5
    top: 0
    bottom: 0
    left: 50%
    margin-left: -3px
  
  .timeline
    color: pink
    position: relative
    max-width: 900px
    margin: 0 auto

  .container
    padding: 0px 40px
    position: relative
    background-color: inherit
    width: 50%
    margin: 15px 0px

  .container::after
    content: ''
    position: absolute
    width: 15px
    height: 15px
    right: -5px
    background-color: white
    border: 2px solid #c5c5c5
    top: 0px
    border-radius: 50%
    z-index: 1

  .left
    left: 0

  .right
    left: 50%

  .left::before
    content: " "
    height: 0
    position: absolute
    top: 0px
    width: 0
    z-index: 1
    right: 33px
    border: medium solid black
    border-width: 7px 0 7px 7px
    border-color: transparent transparent transparent #696051

  .right::before
    content: " "
    height: 0
    position: absolute
    top: 0px
    width: 0
    z-index: 1
    left: 33px
    border: medium solid pink
    border-width: 7px 7px 7px 0
    border-color: transparent #696051 transparent transparent

  .right::after
    left: -9px

  .content
    position: relative



  .left
    text-align: right

    h2
      float: right

  h2
    font-size: 1.1rem
    color: white
    background-color: #696051
    padding: 5px 10px
    width: 40%
    font-weight: lighter
    margin: 0px

  p
    font-size: 0.9rem
    clear: both
    color: #696051
    padding: 10px

.testify
  padding: 50px 0px
  background-image: url("../img/icons/images.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-around
  h4
    text-align: center
    font-weight: bolder
    margin-bottom: 50px
  
  .tst
    display: flex
    max-width: 600px
    margin: 0 auto

    .carousel
      margin: 0px 50px

    .carousel-inner
      background: transparent

    .carousel-control
      position: relative
      background: none

    .item
      height: 250px
      width: 450px
      background: white
      padding: 25px
      text-align: center
      border-radius: 10px

      img
        width: 65px
        border: 2px solid #696051
        border-radius: 50%
        margin: auto

      p
        padding: 15px
        font-style: italic

      h4
        font-weight: lighter

    a
      width: 50px
      color: white

    .glyphicon
      color: black

    .glyphicon:hover
      cursor: pointer

.affiliates
  padding: 50px 0px
  display: flex
  flex-direction: column
  justify-content: center

  .container
    display: flex
    justify-content: space-around

    .aff
      width: 15%

      img
        width: 100%
        filter: grayscale(100%)
        opacity: 0.5
        transition: all 0.3s

        &:hover
          filter: grayscale(0%)
          opacity: 1

footer
  padding: 50px
  background: rgba(0,0,0,0.8)
  display: flex
  flex-direction: column
  justify-content: space-between

  h1
    font-weight: bolder
    color: white
    text-align: center

  h6
    color: white
    text-align: center

    a
      color: lightblue

      &:hover
        color: lightgreen
        text-decoration: none
  
  .social
    display: flex
    width: 600px
    justify-content: space-around
    margin: 50px auto

    a
      color: white
      padding: 20px 22px
      background: rgba(255, 255, 255, 0.2)
      border-radius: 50%     
      i
        font-size: 1.8rem

    .fb
      padding: 20px 27px

    .gmail
      padding: 20px 20px

    .fb, .gmail, .tweet, .github, .linkedin
      transition: all 0.5s

    .fb:hover
      background: #3d5b99

    .tweet:hover
      background: #00aced

    .github:hover
      background: rgba(0, 0, 0, 0.8)

    .gmail:hover
      background: #e64a41

    .linkedin:hover
      background: #0073a4