


#robrainet
  header
    height: 70vh
    padding: 70px 10px
    .deer
      width: 150px
      margin: 0 auto
      img
        width: 100%
    .robname
      display: flex
      justify-content: center
      h1
        font-size: 6rem
        font-weight: 600

      .o, .b, .ra, .a, .i, .n, .e, .t
        margin-left: -10px
      .o
        padding-top: 20px
      .ra
        padding-top: 20px
      .a
        padding-bottom: 5px
        margin-top: -2px        
      .n
        padding-top: 20px
      .t
        padding-top: 10px
    
    .tagline
      font-weight: 5px
      text-align: center
      margin-top: 20px
  nav
    margin: 0 auto