@import url('https://fonts.googleapis.com/css?family=Della+Respira|Niconne|Prata')
$purple: #8f47ba
.checked 
  color: orange



#spangler
  min-height: 100vh
  position: relative
  .searcharea
    height: 6vh
    display: flex
    justify-content: space-between
    padding: 5px 120px
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    .address
      p
        font-size: 0.8rem
        margin-bottom: 0px
        padding: 3px 0px
    .searchbar
      input[type=search]
        border-right: transparent
        border-top: transparent
        border-bottom: 1px solid rgba(0, 0, 0, 0.2)
        border-left: 1px solid rgba(0, 0, 0, 0.2)
        outline: none
        padding: 3px 8px
        font-size: 0.8rem
      i:hover
        cursor: pointer

  nav
    padding: 9px 120px
    height: 7vh
    .topnav
      display: flex
      justify-content: space-between
      overflow: hidden
      a
        color: purple
        text-align: center
        padding: 3px 20px
        text-decoration: none
        font-size: 0.9rem
        transition: all 0.3s
        font-weight: 600
        border-radius: 30px
        &:hover
          color: white
          background: #8f47ba

      .krispic
        margin: 0px 60px
        img
          position: absolute
          width: 200px
          top: 40px
          left: 50%
          transform: translate(-50%, 0%)
          -ms-transform: translate(-50%, -50%)
          z-index: 1000

    .active
      color: white
      border: 2px solid purple
      border-radius: 30px

    .topnav .icon
      display: none

  .hero
    height: 77vh
    background-image: url("../img/cupcakehero.jpg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    position: relative
    font-family: 'Quintessential', cursive;

    .wave
      transform: rotate(180deg)
      position: relative
    .waved
      width: 100%
      position: absolute
      bottom: 0
      z-index: 2000
    .wave, .wavedown 
      height: 50px
      &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        right: 0
        background-repeat: repeat
        height: 10px
        background-size: 20px 20px
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px)
      &::after
        content: ""
        position: absolute
        left: 0
        bottom: 0
        right: 0
        background-repeat: repeat
        height: 15px
        background-size: 40px 20px
        background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px)

    .textcontent
      max-width: 500px
      margin: 18vh auto
      color: white
      text-align: center
      h1
        font-size: 2.9rem
        font-family: 'Quintessential', cursive;
      p
        margin: 30px 0px
        font-family: 'Quintessential', cursive;

      button
        background: $purple
        padding: 10px 25px
        border-radius: 20px
        border: purple
        outline: none
        color: white

  .promo
    display: flex
    padding: 80px 100px 40px 100px

    .promopic
      width: 40%
      img
        width: 100%

    .timer
      padding-top: 50px
      display: flex
      flex-direction: column
      justify-content: center
      width: 60%
      text-align: center

      h4
        font-size: 1.8rem
        font-family: 'Niconne', cursive;
      h3
        font-size: 2rem
        font-family: 'Della Respira', serif;
      h2
        font-size: 1.5rem

      .time
        font-size: 3.5rem
        font-family: 'Della Respira', serif;
        span
          padding-right: 10px
          font-family: 'Prata', serif;
      .times
        font-size: 1.1rem
        span
          padding: 15px

      button
        width: 150px
        margin: 60px auto
        background: $purple
        padding: 10px 20px
        border-radius: 20px
        border: purple
        color: white
        outline: none

  .offers
    max-width: 1100px
    margin: 0 auto
    padding: 50px 0px 100px 0px

    .swtcks
      display: flex
      justify-content: center
      margin: 20px 0px 70px 0px
      .bar
        height: 72px 
        width: 120px
        border-bottom: 20px solid #f1f1f1

      .title
        text-align: center
        margin: 0 20px
        h1
          font-size: 2rem
          margin: 0
          font-family: 'Quintessential', cursive;

        p
          font-family: 'Niconne', cursive;
          font-size: 1.5rem

    .offerlist
      display: flex
      justify-content: space-between
      .offer
        width: 20%
        text-align: center
        position: relative
        img
          width: 100%
          margin-bottom: 20px
        h4
          font-size: 0.9rem
          margin: 0
        h5
          font-size: 0.8rem
          margin: 3px

        .tag, .tag2
          position: absolute
          top: 0
          left: 0
          border-radius: 50%
          padding: 15px 15px
          border: 10px dotted $purple

        .tag2
          transform: rotate(-28deg)

        .perc
          position: absolute
          top: 1.5%
          left: 1.5%
          background: $purple
          border-radius: 50%
          padding: 10px 6px
          p
            font-size: 0.8rem
            color: white
            transform: rotate(-20deg)
            margin: 0

        .tag3, .tag4
          position: absolute
          top: 0
          right: 0
          border-radius: 50%
          padding: 15px 15px
          border: 10px dotted $purple

        .tag4
          transform: rotate(-28deg)

        .percs
          position: absolute
          top: 1.5%
          right: 1.5%
          background: $purple
          border-radius: 50%
          padding: 10px 8px
          p
            font-size: 0.8rem
            color: white
            transform: rotate(-20deg)
            margin: 0

  .toprating
    background: #f1f1f1
    padding: 30px 0px
    .contain
      max-width: 1000px
      margin: 0 auto
      .carousel
        padding: 50px 0px 100px 0px
        li 
          transition: all 0.5s
          background-color: $purple
          padding: 7px
          
        li.active
          padding-left: 30px
          padding-right: 30px
          transition: all 0.5s
          color: purple
        
        .item
          text-align: center
          .criticpic
            width: 100px
            margin: 0 auto
            border: 5px solid white
            border-radius: 50%
            img
              width: 100%
              border-radius: 50%

          p
            font-size: 1rem

  .weeklyoffer

    .swtcks
      display: flex
      justify-content: center
      margin: 50px 0px 70px 0px
      .bar
        height: 72px 
        width: 120px
        border-bottom: 20px solid #f1f1f1

      .title
        text-align: center
        margin: 0 20px
        h1
          font-size: 2rem
          margin: 0
          font-family: 'Quintessential', cursive;

        p
          font-family: 'Niconne', cursive;
          font-size: 1.5rem

    .offerspace
      height: 70vh
      max-width: 1200px
      margin: 0 auto 50px auto
      display: flex
      justify-content: space-between
      font-family: 'Della Respira', serif;
      .offerbig
        background: #eee
        width: 50%
        margin: 5px
        display: flex
        flex-direction: column
        justify-content: space-between
        button
          background: $purple
          padding: 10px 30px
          border: $purple
          border-radius: 20px
          color: white

        .offerlabel
          padding: 30px
          h1
            font-family: 'Della Respira', serif;
          span
            color: $purple
            font-weight: 500
          
        .offerbottom
          background: pink
          margin: 5px 0px 0px 0px
          height: 50%
          padding: 100px 20px 20px 20px
          span
            font-size: 1.5rem
            color: $purple
            font-weight: 500
        .offertop
          height: 50%
          margin: 0px 0px 5px 0px
          display: flex
          justify-content: space-between
          .offertopleft
            width: 50%
            margin: 0px 5px 0px 0px
            background: lightblue
            padding: 10px
            text-align: right
          .offertopright
            width: 50%
            padding: 10px
            margin: 0px 0px 0px 5px
            background: lightgreen
            button
              padding: 5px 15px
              font-size: 0.7rem
            span
              font-size: 1.5rem
              color: $purple
              font-weight: 500

  .hotandnew
    max-width: 1200px
    margin: 0 auto 50px auto
    display: flex
    justify-content: space-between
    .swtcks
      display: flex
      margin: 50px 0px 70px 0px
      .bar
        height: 29px 
        width: 120px
        border-bottom: 20px solid #f1f1f1

      .title
        text-align: center
        margin: 0 20px 0 0
        h1
          font-size: 2rem
          margin: 0
          font-family: 'Quintessential', cursive;

        p
          font-family: 'Niconne', cursive;
          font-size: 1.5rem

    .hot, .new
      width: 50%
      .hotcake
        display: flex
        margin: 10px
        .hotcakepic
          width: 35%
          background: lightblue
        .hotcakedesc
          width: 65%
          padding: 5px
          h3
            font-size: 0.9rem
            margin: 0px
          p
            font-size: 0.8rem
            margin: 10px 0px
          button
            background: $purple
            padding: 5px 15px
            border: $purple
            border-radius: 20px
            color: white
            font-size: 0.8rem
            margin: 10px 0px
          
  .pastrychefs
    background: #f1f1f1
    padding: 50px 20px
    .chefs
      max-width: 1200px
      margin: 0 auto
      display: flex
      justify-content: space-around
      .aboutchefs
        width: 35%
        .swtcks
          display: flex
          margin: 50px 0px 70px 0px
          .bar
            height: 29px 
            width: 120px
            border-bottom: 20px solid #f1f1f1

          .title
            text-align: center
            margin: 0 20px 0 0
            h1
              font-size: 2rem
              margin: 0
              font-family: 'Quintessential', cursive;

            p
              font-family: 'Niconne', cursive;
              font-size: 1.5rem
        button
          background: $purple
          padding: 5px 15px
          border: $purple
          border-radius: 20px
          color: white
          font-size: 0.8rem
          margin: 10px 0px    
      .chef
        width: 18%

      .chef
        background-color: white
        text-align: center
        img
          width: 100%

        .aboutchef
          padding: 10px
          span
            margin: 10px
            font-size: 1.2rem

  .blogclips
    .swtcks
      display: flex
      justify-content: center
      margin: 50px 0px 70px 0px
      .bar
        height: 72px 
        width: 120px
        border-bottom: 20px solid #f1f1f1

      .title
        text-align: center
        margin: 0 20px
        h1
          font-size: 2rem
          margin: 0
          font-family: 'Quintessential', cursive;

        p
          font-family: 'Niconne', cursive;
          font-size: 1.5rem

    .blogspace
      height: 70vh
      max-width: 1200px
      margin: 0 auto 50px auto
      display: flex
      justify-content: space-between
      font-family: 'Della Respira', serif;
      .blogbig
        background: #eee
        width: 50%
        margin: 5px
        display: flex
        flex-direction: column
        justify-content: space-between
        button
          background: $purple
          padding: 10px 30px
          border: $purple
          border-radius: 20px
          color: white

        .bloglabel
          padding: 30px
          h1
            font-family: 'Della Respira', serif;
            
          span
            color: $purple
            font-weight: 500

          .blogdetails
            margin-top: 70px
            max-width: 300px

            button
              margin-top: 20px
            
          
        .blogbottom
          background: pink
          margin: 5px 0px 0px 0px
          height: 50%
          padding: 20px
          span
            color: $purple
            font-weight: 500
          button
            margin-top: 20px
          h1
            font-size: 1.5rem
        .blogtop
          height: 50%
          margin: 0px 0px 5px 0px
          background: lightgreen
          padding: 20px
          span
            color: $purple
            font-weight: 500
          button
            margin-top: 20px
          h1
            font-size: 1.5rem
  
  .affiliates
    padding: 50px 0px
    .affcontain
      display: flex
      justify-content: space-between
      max-width: 1200px
      margin: 0 auto

      .aff
        width: 15%
        img
          width: 100%

  .map
    height: 85vh
    width: 100%
    background: $purple

  .contactform
    position: relative
    .form
      position: absolute
      padding: 20px 40px
      margin-left: 130px
      top: 100%
      width: 400px
      height: 85vh
      transform: translateY(-100%)
      background: rgba(143, 71, 186, 0.6)
      color: white
      .contact
        text-align: center

      form
        display: flex
        flex-direction: column
        label
          font-weight: 400
        input, textarea
          padding: 6px
          background: transparent
          border-top: none
          border-left: none
          border-right: none
          border-bottom: 2px solid white
          outline: none
        textarea
          resize: vertical
          max-height: 60px
        button
          width: 150px
          background: white
          padding: 10px 10px
          border: white
          border-radius: 20px
          color: $purple
          margin: 0 auto

  .aboutcontact
    display: flex
    justify-content: space-between
    background: rgba(0, 0, 0, 0.9)
    padding: 100px 100px
    color: white
    .about
      width: 40%
      h4, p
        font-size: 0.8rem
      h3
        font-size: 0.8rem
        text-transform: uppercase
        
    .logo
      width: 15%
      img
        width: 100%
    .subscribe
      width: 40%
      h4, p
        font-size: 0.8rem

      input
        padding: 10px 20px
        border-radius: 20px
        border: none
        background: $purple / 2
        width: 300px
        outline: none
      input::placeholder
        color: white
        font-weight: lighter

      button
        padding: 10px 30px
        background: $purple
        border-radius: 20px
        border: none
        margin-left: -35px
        outline: none