@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: block;
  content: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

nav .nav {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  color: white;
  font-size: 28px;
  font-weight: 800;
}

nav .nav i {
  color: white;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/tom-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.textcontent {
  width: 70%;
  margin: 0 auto;
  color: white;
}

.textcontent h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.textcontent .hello {
  width: 50px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.textcontent .skillset {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.profile {
  height: 80vh;
  display: flex;
}

.profile .about {
  width: 50%;
  background-image: url("../img/ben-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 60px 20px;
}

.profile .about .abouttext {
  width: 50%;
  float: right;
  height: 100%;
}

.profile .about .abouttext .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: aut0 auto;
  height: 100%;
}

.profile .about .abouttext .col h4 {
  font-weight: bold;
  font-size: 1rem;
}

.profile .about .abouttext .col p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
}

.profile .about .abouttext .col button {
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bolder;
}

.profile .about .abouttext .col .cv {
  margin-right: 20px;
  background: transparent;
  color: white;
}

.profile .about .abouttext .col .hire {
  background: white;
  color: black;
}

.profile .doing {
  width: 50%;
  padding: 60px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f1f1f1;
}

.profile .doing h4 {
  font-weight: bold;
  font-size: 1rem;
}

.profile .doing p {
  font-size: 0.9rem;
}

.profile .doing .stuffs {
  height: 80%;
}

.profile .doing .stuffs .firststuff {
  display: flex;
}

.profile .doing .stuffs .firststuff .stuff:hover {
  background: #696051;
  color: white;
  transform: scale(1.1);
}

.profile .doing .stuffs .firststuff .stuff {
  padding: 20px 10px;
  width: 150px;
  transition: all 0.3s;
}

.profile .doing .stuffs .firststuff .stuff i {
  margin: 10px 0px;
  font-size: 30px;
}

.profile .doing .stuffs .firststuff .stuff .stuff-title {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 10px 0px;
}

.profile .doing .stuffs .firststuff .stuff .stuff-desc {
  font-size: 0.6rem;
  font-weight: lighter;
}

.projs .projfilter {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.projs .projfilter .projtitle h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 5px;
}

.projs .projfilter .projnav {
  display: flex;
}

.projs .projfilter .projnav p {
  font-size: 0.7rem;
  margin: 5px 10px 5px 10px;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.projs .projfilter .projnav p:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
  margin: 5px 10px 3px 10px;
  padding-bottom: 5px;
}

.projs .projfilter .projnav .all {
  font-weight: bolder;
}

.projs .projtiles {
  height: 70vh;
  background: #f1f1f1;
  display: flex;
}

.projs .projtiles .projtile {
  flex: 1;
}

.projs .projtiles .projtile .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projs .projtiles .projtile .middle .text {
  background-color: #696051;
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 20px;
}

.projs .projtiles .projtile .web, .projs .projtiles .projtile .sec {
  height: 50%;
}

.projs .projtiles .projtile .projpic:hover .middle {
  opacity: 1;
}

.projs .projtiles .projtile .projpic:hover img {
  opacity: 0.1;
  transform: scale(1.1);
}

.projs .projtiles .projtile .firebase {
  height: 33.3333%;
}

.projs .projtiles .projtile .one {
  background: #dcdcdc;
}

.projs .projtiles .projtile .two {
  background: #cecece;
}

.projs .projtiles .projtile .three {
  background: #c5c5c5;
}

.projs .projtiles .projtile .projpic {
  position: relative;
  height: 100%;
  width: 100%;
}

.projs .projtiles .projtile .projpic img {
  width: 100%;
  transition: all .5s ease;
  backface-visibility: hidden;
}

.projs .allproj {
  padding: 40px;
  text-align: center;
}

.projs .allproj a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
}

.projs .allproj a i {
  margin-left: 20px;
  font-size: 1rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -webkit-transform: rotate(270deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(-180deg);
  }
}

.skills {
  height: 90vh;
  color: white;
  background: url("../img/47.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.skills .skillarea {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills .stacks {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.skills .stacks .stack:hover {
  transform: scale(1.2);
}

.skills .stacks .stack {
  position: relative;
  width: 100px;
  transition: all 0.3s;
}

.skills .stacks .stack .stackitem {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.skills .stacks .stack .s1 {
  border-top: 5px solid #696051;
}

.skills .stacks .stack .s2 {
  border-bottom: 5px solid #696051;
}

.skills .stacks .stack .s3 {
  border-left: 5px solid #696051;
}

.skills .stacks .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.skills .stacks img {
  width: 100%;
}

.skills button {
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 0.9rem;
  color: white;
  background: transparent;
  transition: all 0.4s;
  width: 200px;
}

.skills button:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

.skills p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
}

.time {
  height: 80vh;
  font-size: 1rem;
}

.time h3 {
  margin: 50px 0px;
  text-align: center;
  font-size: 1rem;
}

.time .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #c5c5c5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time .timeline {
  color: pink;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.time .container {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin: 15px 0px;
}

.time .container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -5px;
  background-color: white;
  border: 2px solid #c5c5c5;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

.time .left {
  left: 0;
}

.time .right {
  left: 50%;
}

.time .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
  right: 33px;
  border: medium solid black;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #696051;
}

.time .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
  left: 33px;
  border: medium solid pink;
  border-width: 7px 7px 7px 0;
  border-color: transparent #696051 transparent transparent;
}

.time .right::after {
  left: -9px;
}

.time .content {
  position: relative;
}

.time .left {
  text-align: right;
}

.time .left h2 {
  float: right;
}

.time h2 {
  font-size: 1.1rem;
  color: white;
  background-color: #696051;
  padding: 5px 10px;
  width: 40%;
  font-weight: lighter;
  margin: 0px;
}

.time p {
  font-size: 0.9rem;
  clear: both;
  color: #696051;
  padding: 10px;
}

.testify {
  height: 60vh;
  background-image: url("../img/icons/images.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testify h4 {
  text-align: center;
  font-weight: bolder;
}

.testify .tst {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.testify .tst .carousel {
  margin: 0px 50px;
}

.testify .tst .carousel-control {
  position: relative;
  background: none;
}

.testify .tst .item {
  height: 250px;
  width: 450px;
  background: white;
  padding: 25px;
  text-align: center;
}

.testify .tst .item img {
  width: 65px;
  border: 2px solid #696051;
  border-radius: 50%;
  margin: auto;
}

.testify .tst .item p {
  padding: 15px;
  font-style: italic;
}

.testify .tst .item h4 {
  font-weight: lighter;
}

.testify .tst a {
  width: 50px;
  color: white;
}

.testify .tst .glyphicon {
  color: black;
}

.testify .tst .glyphicon:hover {
  cursor: pointer;
}

.affiliates {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.affiliates .container {
  display: flex;
  justify-content: space-around;
}

.affiliates .container .aff {
  width: 15%;
}

.affiliates .container .aff img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s;
}

.affiliates .container .aff img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

footer {
  height: 40vh;
  background: rgba(0, 0, 0, 0.8);
}

footer h1 {
  font-weight: bolder;
  color: white;
  text-align: center;
}

footer .social {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 700px) {
  .time .timeline::after {
    left: 31px;
  }
  .time .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .time .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .time .left::after {
    left: 15px;
  }
  .time .right {
    left: 0%;
  }
  .time .right::after {
    left: 15px;
  }
}
 

 /*# sourceMappingURL= app.css.map */