@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
@import url("https://fonts.googleapis.com/css?family=Poppins:500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400");
@import url("https://fonts.googleapis.com/css?family=Poppins:300");
@import url("https://fonts.googleapis.com/css?family=Poppins:200");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Quintessential");
@import url("https://fonts.googleapis.com/css?family=Della+Respira|Niconne|Prata");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: block;
  content: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#morrison nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#morrison nav .nav {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#morrison nav .nav i {
  color: white;
}

#morrison .banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/tom-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#morrison .textcontent {
  width: 70%;
  margin: 0 auto;
  color: white;
}

#morrison .textcontent h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

#morrison .textcontent .hello {
  width: 50px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

#morrison .textcontent .skillset {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

#morrison .profile {
  display: flex;
}

#morrison .profile .about {
  width: 50%;
  background-image: url("../img/ben-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 60px 20px;
}

#morrison .profile .about .abouttext {
  width: 50%;
  float: right;
  height: 100%;
}

#morrison .profile .about .abouttext .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: auto auto;
  height: 100%;
}

#morrison .profile .about .abouttext .col h4 {
  font-weight: bold;
  font-size: 1rem;
}

#morrison .profile .about .abouttext .col p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
}

#morrison .profile .about .abouttext .col button {
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bolder;
  margin: 10px 0px;
}

#morrison .profile .about .abouttext .col .cv {
  margin-right: 20px;
  background: transparent;
  color: white;
}

#morrison .profile .about .abouttext .col .hire {
  background: white;
  color: black;
}

#morrison .profile .doing {
  width: 50%;
  padding: 60px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f1f1f1;
}

#morrison .profile .doing h4 {
  font-weight: bold;
  font-size: 1rem;
}

#morrison .profile .doing p {
  font-size: 0.9rem;
}

#morrison .profile .doing .stuffs {
  height: 80%;
}

#morrison .profile .doing .stuffs .firststuff {
  display: flex;
}

#morrison .profile .doing .stuffs .firststuff .stuff:hover {
  background: #696051;
  color: white;
  transform: scale(1.1);
}

#morrison .profile .doing .stuffs .firststuff .stuff {
  padding: 20px 10px;
  width: 150px;
  transition: all 0.3s;
}

#morrison .profile .doing .stuffs .firststuff .stuff i {
  margin: 10px 0px;
  font-size: 30px;
}

#morrison .profile .doing .stuffs .firststuff .stuff .stuff-title {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 10px 0px;
}

#morrison .profile .doing .stuffs .firststuff .stuff .stuff-desc {
  font-size: 0.6rem;
  font-weight: lighter;
}

#morrison .projs .projfilter {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

#morrison .projs .projfilter .projtitle h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 5px;
}

#morrison .projs .projfilter .projnav {
  display: flex;
}

#morrison .projs .projfilter .projnav p {
  font-size: 0.7rem;
  margin: 5px 10px 5px 10px;
  padding-bottom: 5px;
  transition: all 0.3s;
}

#morrison .projs .projfilter .projnav p:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
  margin: 5px 10px 3px 10px;
  padding-bottom: 5px;
}

#morrison .projs .projfilter .projnav .all {
  font-weight: bolder;
}

#morrison .projs .projtiles {
  background: #f1f1f1;
  display: flex;
}

#morrison .projs .projtiles .projtile {
  flex: 1;
}

#morrison .projs .projtiles .projtile .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#morrison .projs .projtiles .projtile .middle .text {
  background-color: #696051;
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 20px;
}

#morrison .projs .projtiles .projtile .web, #morrison .projs .projtiles .projtile .sec {
  height: 50%;
}

#morrison .projs .projtiles .projtile .projpic:hover .middle {
  opacity: 1;
}

#morrison .projs .projtiles .projtile .projpic:hover img {
  opacity: 0.1;
  transform: scale(1.1);
}

#morrison .projs .projtiles .projtile .firebase {
  height: 33.3333%;
}

#morrison .projs .projtiles .projtile .one {
  background: #dcdcdc;
}

#morrison .projs .projtiles .projtile .two {
  background: #cecece;
}

#morrison .projs .projtiles .projtile .three {
  background: #c5c5c5;
}

#morrison .projs .projtiles .projtile .projpic {
  position: relative;
  height: 100%;
  width: 100%;
}

#morrison .projs .projtiles .projtile .projpic img {
  width: 100%;
  transition: all .5s ease;
  backface-visibility: hidden;
}

#morrison .projs .allproj {
  padding: 40px;
  text-align: center;
}

#morrison .projs .allproj a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
}

#morrison .projs .allproj a i {
  margin-left: 20px;
  font-size: 1rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -webkit-transform: rotate(270deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(-180deg);
  }
}

#morrison .skills {
  color: white;
  background: url("../img/47.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  padding: 50px 0px;
}

#morrison .skills .skillarea {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#morrison .skills .stacks {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: 20px 0px;
}

#morrison .skills .stacks .stack:hover {
  transform: scale(1.2);
}

#morrison .skills .stacks .stack {
  position: relative;
  width: 100px;
  transition: all 0.3s;
}

#morrison .skills .stacks .stack .stackitem {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

#morrison .skills .stacks .stack .s1 {
  border-top: 5px solid #696051;
}

#morrison .skills .stacks .stack .s2 {
  border-bottom: 5px solid #696051;
}

#morrison .skills .stacks .stack .s3 {
  border-left: 5px solid #696051;
}

#morrison .skills .stacks .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#morrison .skills .stacks img {
  width: 100%;
}

#morrison .skills button {
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 0.9rem;
  color: white;
  background: transparent;
  transition: all 0.4s;
  width: 200px;
}

#morrison .skills button:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

#morrison .skills p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 30px 0px 30px 0px;
}

#morrison .time {
  padding: 10px 0px 60px 0px;
  font-size: 1rem;
}

#morrison .time h3 {
  margin: 50px 0px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#morrison .time .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #c5c5c5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

#morrison .time .timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

#morrison .time .container {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

#morrison .time .container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -5px;
  background-color: white;
  border: 2px solid #c5c5c5;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

#morrison .time .left {
  left: 0;
  margin-right: 50%;
}

#morrison .time .right {
  left: 50%;
  margin-right: 50%;
}

#morrison .time .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
  right: 33px;
  border: medium solid black;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #696051;
}

#morrison .time .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
  left: 33px;
  border: medium solid pink;
  border-width: 7px 7px 7px 0;
  border-color: transparent #696051 transparent transparent;
}

#morrison .time .right::after {
  left: -9px;
}

#morrison .time .content {
  position: relative;
}

#morrison .time .left {
  text-align: right;
}

#morrison .time .left h2 {
  float: right;
}

#morrison .time h2 {
  font-size: 1.1rem;
  color: white;
  background-color: #696051;
  padding: 5px 10px;
  width: 40%;
  font-weight: lighter;
  margin: 0px;
}

#morrison .time p {
  font-size: 0.9rem;
  clear: both;
  color: #696051;
  padding: 10px;
}

#morrison .testify {
  padding: 50px 0px;
  background-image: url("../img/icons/images.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#morrison .testify h4 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 50px;
}

#morrison .testify .tst {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

#morrison .testify .tst .carousel {
  margin: 0px 50px;
}

#morrison .testify .tst .carousel-inner {
  background: transparent;
}

#morrison .testify .tst .carousel-control {
  position: relative;
  background: none;
}

#morrison .testify .tst .item {
  height: 250px;
  width: 450px;
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}

#morrison .testify .tst .item img {
  width: 65px;
  border: 2px solid #696051;
  border-radius: 50%;
  margin: auto;
}

#morrison .testify .tst .item p {
  padding: 15px;
  font-style: italic;
}

#morrison .testify .tst .item h4 {
  font-weight: lighter;
}

#morrison .testify .tst a {
  width: 50px;
  color: white;
}

#morrison .testify .tst .glyphicon {
  color: black;
}

#morrison .testify .tst .glyphicon:hover {
  cursor: pointer;
}

#morrison .affiliates {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#morrison .affiliates .container {
  display: flex;
  justify-content: space-around;
}

#morrison .affiliates .container .aff {
  width: 15%;
}

#morrison .affiliates .container .aff img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s;
}

#morrison .affiliates .container .aff img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

#morrison footer {
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#morrison footer h1 {
  font-weight: bolder;
  color: white;
  text-align: center;
}

#morrison footer h6 {
  color: white;
  text-align: center;
}

#morrison footer h6 a {
  color: lightblue;
}

#morrison footer h6 a:hover {
  color: lightgreen;
  text-decoration: none;
}

#morrison footer .container {
  max-width: 700px;
}

#morrison footer .social {
  display: flex;
  width: 500px;
  justify-content: space-around;
  margin: 20px auto;
}

#morrison footer .social a {
  color: white;
  padding: 20px 22px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

#morrison footer .social a i {
  font-size: 1.8rem;
}

#morrison footer .social .fb {
  padding: 20px 27px;
}

#morrison footer .social .gmail {
  padding: 20px 20px;
}

#morrison footer .social .fb, #morrison footer .social .gmail, #morrison footer .social .tweet, #morrison footer .social .github, #morrison footer .social .linkedin {
  transition: all 0.5s;
}

#morrison footer .social .fb:hover {
  background: #3d5b99;
}

#morrison footer .social .tweet:hover {
  background: #00aced;
}

#morrison footer .social .github:hover {
  background: rgba(0, 0, 0, 0.8);
}

#morrison footer .social .gmail:hover {
  background: #e64a41;
}

#morrison footer .social .linkedin:hover {
  background: #0073a4;
}

.checked {
  color: orange;
}

#spangler {
  min-height: 100vh;
  position: relative;
}

#spangler .searcharea {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 5px 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#spangler .searcharea .address p {
  font-size: 0.8rem;
  margin-bottom: 0px;
  padding: 3px 0px;
}

#spangler .searcharea .searchbar input[type=search] {
  border-right: transparent;
  border-top: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 3px 8px;
  font-size: 0.8rem;
}

#spangler .searcharea .searchbar i:hover {
  cursor: pointer;
}

#spangler nav {
  padding: 9px 120px;
  height: 7vh;
}

#spangler nav .topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#spangler nav .topnav a {
  color: purple;
  text-align: center;
  padding: 3px 20px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 30px;
}

#spangler nav .topnav a:hover {
  color: white;
  background: #8f47ba;
}

#spangler nav .topnav .krispic {
  margin: 0px 60px;
}

#spangler nav .topnav .krispic img {
  position: absolute;
  width: 200px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000;
}

#spangler nav .active {
  color: white;
  border: 2px solid purple;
  border-radius: 30px;
}

#spangler nav .topnav .icon {
  display: none;
}

#spangler .hero {
  height: 77vh;
  background-image: url("../img/cupcakehero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Quintessential', cursive;
}

#spangler .hero .wave {
  transform: rotate(180deg);
  position: relative;
}

#spangler .hero .waved {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2000;
}

#spangler .hero .wave, #spangler .hero .wavedown {
  height: 50px;
}

#spangler .hero .wave::before, #spangler .hero .wavedown::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}

#spangler .hero .wave::after, #spangler .hero .wavedown::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}

#spangler .hero .textcontent {
  max-width: 500px;
  margin: 18vh auto;
  color: white;
  text-align: center;
}

#spangler .hero .textcontent h1 {
  font-size: 2.9rem;
  font-family: 'Quintessential', cursive;
}

#spangler .hero .textcontent p {
  margin: 30px 0px;
  font-family: 'Quintessential', cursive;
}

#spangler .hero .textcontent button {
  background: #8f47ba;
  padding: 10px 25px;
  border-radius: 20px;
  border: purple;
  outline: none;
  color: white;
}

#spangler .promo {
  display: flex;
  padding: 80px 100px 40px 100px;
}

#spangler .promo .promopic {
  width: 40%;
}

#spangler .promo .promopic img {
  width: 100%;
}

#spangler .promo .timer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  text-align: center;
}

#spangler .promo .timer h4 {
  font-size: 1.8rem;
  font-family: 'Niconne', cursive;
}

#spangler .promo .timer h3 {
  font-size: 2rem;
  font-family: 'Della Respira', serif;
}

#spangler .promo .timer h2 {
  font-size: 1.5rem;
}

#spangler .promo .timer .time {
  font-size: 3.5rem;
  font-family: 'Della Respira', serif;
}

#spangler .promo .timer .time span {
  padding-right: 10px;
  font-family: 'Prata', serif;
}

#spangler .promo .timer .times {
  font-size: 1.1rem;
}

#spangler .promo .timer .times span {
  padding: 15px;
}

#spangler .promo .timer button {
  width: 150px;
  margin: 60px auto;
  background: #8f47ba;
  padding: 10px 20px;
  border-radius: 20px;
  border: purple;
  color: white;
  outline: none;
}

#spangler .offers {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0px 100px 0px;
}

#spangler .offers .swtcks {
  display: flex;
  justify-content: center;
  margin: 20px 0px 70px 0px;
}

#spangler .offers .swtcks .bar {
  height: 72px;
  width: 120px;
  border-bottom: 20px solid #f1f1f1;
}

#spangler .offers .swtcks .title {
  text-align: center;
  margin: 0 20px;
}

#spangler .offers .swtcks .title h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Quintessential', cursive;
}

#spangler .offers .swtcks .title p {
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
}

#spangler .offers .offerlist {
  display: flex;
  justify-content: space-between;
}

#spangler .offers .offerlist .offer {
  width: 20%;
  text-align: center;
  position: relative;
}

#spangler .offers .offerlist .offer img {
  width: 100%;
  margin-bottom: 20px;
}

#spangler .offers .offerlist .offer h4 {
  font-size: 0.9rem;
  margin: 0;
}

#spangler .offers .offerlist .offer h5 {
  font-size: 0.8rem;
  margin: 3px;
}

#spangler .offers .offerlist .offer .tag, #spangler .offers .offerlist .offer .tag2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 15px 15px;
  border: 10px dotted #8f47ba;
}

#spangler .offers .offerlist .offer .tag2 {
  transform: rotate(-28deg);
}

#spangler .offers .offerlist .offer .perc {
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  background: #8f47ba;
  border-radius: 50%;
  padding: 10px 6px;
}

#spangler .offers .offerlist .offer .perc p {
  font-size: 0.8rem;
  color: white;
  transform: rotate(-20deg);
  margin: 0;
}

#spangler .offers .offerlist .offer .tag3, #spangler .offers .offerlist .offer .tag4 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 15px 15px;
  border: 10px dotted #8f47ba;
}

#spangler .offers .offerlist .offer .tag4 {
  transform: rotate(-28deg);
}

#spangler .offers .offerlist .offer .percs {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  background: #8f47ba;
  border-radius: 50%;
  padding: 10px 8px;
}

#spangler .offers .offerlist .offer .percs p {
  font-size: 0.8rem;
  color: white;
  transform: rotate(-20deg);
  margin: 0;
}

#spangler .toprating {
  background: #f1f1f1;
  padding: 30px 0px;
}

#spangler .toprating .contain {
  max-width: 1000px;
  margin: 0 auto;
}

#spangler .toprating .contain .carousel {
  padding: 50px 0px 100px 0px;
}

#spangler .toprating .contain .carousel li {
  transition: all 0.5s;
  background-color: #8f47ba;
  padding: 7px;
}

#spangler .toprating .contain .carousel li.active {
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.5s;
  color: purple;
}

#spangler .toprating .contain .carousel .item {
  text-align: center;
}

#spangler .toprating .contain .carousel .item .criticpic {
  width: 100px;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 50%;
}

#spangler .toprating .contain .carousel .item .criticpic img {
  width: 100%;
  border-radius: 50%;
}

#spangler .toprating .contain .carousel .item p {
  font-size: 1rem;
}

#spangler .weeklyoffer .swtcks {
  display: flex;
  justify-content: center;
  margin: 50px 0px 70px 0px;
}

#spangler .weeklyoffer .swtcks .bar {
  height: 72px;
  width: 120px;
  border-bottom: 20px solid #f1f1f1;
}

#spangler .weeklyoffer .swtcks .title {
  text-align: center;
  margin: 0 20px;
}

#spangler .weeklyoffer .swtcks .title h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Quintessential', cursive;
}

#spangler .weeklyoffer .swtcks .title p {
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
}

#spangler .weeklyoffer .offerspace {
  height: 70vh;
  max-width: 1200px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Della Respira', serif;
}

#spangler .weeklyoffer .offerspace .bigoffer {
  background-image: url("../img/bigoffer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#spangler .weeklyoffer .offerspace .offerbig {
  width: 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

#spangler .weeklyoffer .offerspace .offerbig button {
  background: #8f47ba;
  padding: 10px 30px;
  border: #8f47ba;
  border-radius: 20px;
  color: white;
}

#spangler .weeklyoffer .offerspace .offerbig .offerlabel {
  padding: 30px;
}

#spangler .weeklyoffer .offerspace .offerbig .offerlabel h1 {
  font-family: 'Della Respira', serif;
}

#spangler .weeklyoffer .offerspace .offerbig .offerlabel span {
  color: #8f47ba;
  font-weight: 500;
}

#spangler .weeklyoffer .offerspace .offerbig .offerbottom {
  background: pink;
  margin: 5px 0px 0px 0px;
  height: 50%;
  padding: 100px 20px 20px 20px;
  border-radius: 8px;
  background-image: url("../img/lollipops.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#spangler .weeklyoffer .offerspace .offerbig .offerbottom span {
  font-size: 1.5rem;
  color: #8f47ba;
  font-weight: 500;
}

#spangler .weeklyoffer .offerspace .offerbig .offertop {
  height: 50%;
  margin: 0px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
}

#spangler .weeklyoffer .offerspace .offerbig .offertop .offertopleft {
  width: 50%;
  margin: 0px 5px 0px 0px;
  background: lightblue;
  padding: 10px;
  text-align: right;
  border-radius: 8px;
  background-image: url("../img/topleft.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#spangler .weeklyoffer .offerspace .offerbig .offertop .offertopright {
  width: 50%;
  padding: 10px;
  margin: 0px 0px 0px 5px;
  background: lightgreen;
  border-radius: 8px;
  background-image: url("../img/topright.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#spangler .weeklyoffer .offerspace .offerbig .offertop .offertopright button {
  padding: 5px 15px;
  font-size: 0.7rem;
}

#spangler .weeklyoffer .offerspace .offerbig .offertop .offertopright span {
  font-size: 1.5rem;
  color: #8f47ba;
  font-weight: 500;
}

#spangler .hotandnew {
  max-width: 1200px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
}

#spangler .hotandnew .swtcks {
  display: flex;
  margin: 50px 0px 70px 0px;
}

#spangler .hotandnew .swtcks .bar {
  height: 29px;
  width: 120px;
  border-bottom: 20px solid #f1f1f1;
}

#spangler .hotandnew .swtcks .title {
  text-align: center;
  margin: 0 20px 0 0;
}

#spangler .hotandnew .swtcks .title h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Quintessential', cursive;
}

#spangler .hotandnew .swtcks .title p {
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
}

#spangler .hotandnew .hot, #spangler .hotandnew .new {
  width: 50%;
}

#spangler .hotandnew .hot .hotcake, #spangler .hotandnew .new .hotcake {
  display: flex;
  margin: 10px;
}

#spangler .hotandnew .hot .hotcake .hotcakepic, #spangler .hotandnew .new .hotcake .hotcakepic {
  width: 27%;
  background: lightblue;
}

#spangler .hotandnew .hot .hotcake .hotcakepic img, #spangler .hotandnew .new .hotcake .hotcakepic img {
  width: 100%;
}

#spangler .hotandnew .hot .hotcake .hotcakedesc, #spangler .hotandnew .new .hotcake .hotcakedesc {
  width: 65%;
  padding: 5px;
}

#spangler .hotandnew .hot .hotcake .hotcakedesc h3, #spangler .hotandnew .new .hotcake .hotcakedesc h3 {
  font-size: 0.9rem;
  margin: 0px;
}

#spangler .hotandnew .hot .hotcake .hotcakedesc p, #spangler .hotandnew .new .hotcake .hotcakedesc p {
  font-size: 0.8rem;
  margin: 10px 0px;
}

#spangler .hotandnew .hot .hotcake .hotcakedesc button, #spangler .hotandnew .new .hotcake .hotcakedesc button {
  background: #8f47ba;
  padding: 5px 15px;
  border: #8f47ba;
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  margin: 10px 0px;
}

#spangler .pastrychefs {
  background: #f1f1f1;
  padding: 50px 20px;
}

#spangler .pastrychefs .chefs {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#spangler .pastrychefs .chefs .aboutchefs {
  width: 35%;
}

#spangler .pastrychefs .chefs .aboutchefs .swtcks {
  display: flex;
  margin: 50px 0px 70px 0px;
}

#spangler .pastrychefs .chefs .aboutchefs .swtcks .bar {
  height: 29px;
  width: 120px;
  border-bottom: 20px solid #f1f1f1;
}

#spangler .pastrychefs .chefs .aboutchefs .swtcks .title {
  text-align: center;
  margin: 0 20px 0 0;
}

#spangler .pastrychefs .chefs .aboutchefs .swtcks .title h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Quintessential', cursive;
}

#spangler .pastrychefs .chefs .aboutchefs .swtcks .title p {
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
}

#spangler .pastrychefs .chefs .aboutchefs button {
  background: #8f47ba;
  padding: 5px 15px;
  border: #8f47ba;
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  margin: 10px 0px;
}

#spangler .pastrychefs .chefs .chef {
  width: 18%;
}

#spangler .pastrychefs .chefs .chef {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

#spangler .pastrychefs .chefs .chef img {
  width: 100%;
}

#spangler .pastrychefs .chefs .chef .aboutchef {
  padding: 10px;
}

#spangler .pastrychefs .chefs .chef .aboutchef span {
  margin: 10px;
  font-size: 1.2rem;
}

#spangler .blogclips .swtcks {
  display: flex;
  justify-content: center;
  margin: 50px 0px 70px 0px;
}

#spangler .blogclips .swtcks .bar {
  height: 72px;
  width: 120px;
  border-bottom: 20px solid #f1f1f1;
}

#spangler .blogclips .swtcks .title {
  text-align: center;
  margin: 0 20px;
}

#spangler .blogclips .swtcks .title h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Quintessential', cursive;
}

#spangler .blogclips .swtcks .title p {
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
}

#spangler .blogclips .blogspace {
  height: 70vh;
  max-width: 1200px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Della Respira', serif;
}

#spangler .blogclips .blogspace .bigblog {
  border-radius: 7px;
  background-image: url("../img/blogpic1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#spangler .blogclips .blogspace .blogbig {
  width: 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#spangler .blogclips .blogspace .blogbig button {
  background: white;
  padding: 10px 30px;
  border: white;
  border-radius: 20px;
  color: #8f47ba;
}

#spangler .blogclips .blogspace .blogbig .bloglabel {
  padding: 30px;
}

#spangler .blogclips .blogspace .blogbig .bloglabel h1 {
  font-family: 'Della Respira', serif;
}

#spangler .blogclips .blogspace .blogbig .bloglabel span {
  color: orange;
  font-weight: 500;
}

#spangler .blogclips .blogspace .blogbig .bloglabel .blogdetails {
  margin-top: 70px;
  max-width: 300px;
}

#spangler .blogclips .blogspace .blogbig .bloglabel .blogdetails button {
  margin-top: 20px;
}

#spangler .blogclips .blogspace .blogbig .blogbottom {
  background-image: url("../img/blogpic3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 0px 0px 0px;
  height: 50%;
  padding: 20px;
  border-radius: 7px;
}

#spangler .blogclips .blogspace .blogbig .blogbottom span {
  color: orange;
  font-weight: 500;
}

#spangler .blogclips .blogspace .blogbig .blogbottom button {
  margin-top: 20px;
}

#spangler .blogclips .blogspace .blogbig .blogbottom h1 {
  font-size: 1.5rem;
}

#spangler .blogclips .blogspace .blogbig .blogtop {
  background-image: url("../img/blogpic2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  margin: 0px 0px 5px 0px;
  padding: 20px;
  border-radius: 7px;
}

#spangler .blogclips .blogspace .blogbig .blogtop span {
  color: orange;
  font-weight: 500;
}

#spangler .blogclips .blogspace .blogbig .blogtop button {
  margin-top: 20px;
}

#spangler .blogclips .blogspace .blogbig .blogtop h1 {
  font-size: 1.5rem;
}

#spangler .affiliates {
  padding: 50px 0px;
}

#spangler .affiliates .affcontain {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#spangler .affiliates .affcontain .aff {
  width: 15%;
}

#spangler .affiliates .affcontain .aff img {
  width: 100%;
  filter: grayscale(80%);
}

#spangler .map {
  height: 85vh;
  width: 100%;
  background: #8f47ba;
}

#spangler .contactform {
  position: relative;
}

#spangler .contactform .form {
  position: absolute;
  padding: 20px 40px;
  margin-left: 130px;
  top: 100%;
  width: 400px;
  height: 85vh;
  transform: translateY(-100%);
  background: rgba(143, 71, 186, 0.6);
  color: white;
}

#spangler .contactform .form .contact {
  text-align: center;
}

#spangler .contactform .form form {
  display: flex;
  flex-direction: column;
}

#spangler .contactform .form form label {
  font-weight: 400;
}

#spangler .contactform .form form input, #spangler .contactform .form form textarea {
  padding: 6px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  outline: none;
}

#spangler .contactform .form form textarea {
  resize: vertical;
  max-height: 60px;
}

#spangler .contactform .form form button {
  width: 150px;
  background: white;
  padding: 10px 10px;
  border: white;
  border-radius: 20px;
  color: #8f47ba;
  margin: 0 auto;
}

#spangler .aboutcontact {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
  padding: 80px 100px;
  color: white;
}

#spangler .aboutcontact .about {
  width: 40%;
}

#spangler .aboutcontact .about h4, #spangler .aboutcontact .about p {
  font-size: 0.8rem;
}

#spangler .aboutcontact .about p {
  font-weight: 200;
}

#spangler .aboutcontact .about h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 200;
}

#spangler .aboutcontact .logo {
  width: 15%;
}

#spangler .aboutcontact .logo img {
  width: 100%;
}

#spangler .aboutcontact .subscribe {
  width: 40%;
}

#spangler .aboutcontact .subscribe h4, #spangler .aboutcontact .subscribe p {
  font-size: 0.8rem;
}

#spangler .aboutcontact .subscribe p {
  font-weight: 200;
}

#spangler .aboutcontact .subscribe input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  width: 350px;
  outline: none;
}

#spangler .aboutcontact .subscribe input::placeholder {
  color: #999;
  font-weight: lighter;
}

#spangler .aboutcontact .subscribe button {
  padding: 10px 30px;
  background: #8f47ba;
  border-radius: 20px;
  border: none;
  margin-left: -35px;
  outline: none;
}

#spangler footer {
  padding: 70px 0px;
}

#spangler footer .footitems {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#spangler footer .footitems .payment, #spangler footer .footitems .officetime, #spangler footer .footitems .return, #spangler footer .footitems .socialconnect {
  width: 22%;
}

#spangler footer .footitems .payment .cards {
  display: flex;
  margin-top: 30px;
}

#spangler footer .footitems .payment .cards .card {
  width: 40%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-right: 30px;
  border-radius: 5px;
}

#spangler footer .footitems .payment .cards .card img {
  width: 100%;
}

#spangler footer .footitems .officetime h4 {
  margin-bottom: 30px;
}

#spangler footer .footitems .return {
  display: block;
}

#spangler footer .footitems .return h4 {
  margin-bottom: 30px;
}

#spangler footer .footitems .return ul {
  list-style: none;
}

#spangler footer .footitems .return ul li {
  padding-bottom: 6px;
}

#spangler footer .footitems .return ul li a {
  text-decoration: none;
  color: black;
}

#spangler footer .footitems .socialconnect h4 {
  margin-bottom: 30px;
}

#spangler footer .footitems .socialconnect .sociallinks a {
  margin-right: 15px;
}

#spangler footer .footitems .socialconnect .sociallinks a span {
  font-size: 1.2rem;
  border: 0.5px solid black;
  border-radius: 50%;
  padding: 10px 15px;
}

#spangler footer .footitems .socialconnect .sociallinks a .fa-twitter, #spangler footer .footitems .socialconnect .sociallinks a .fa-instagram {
  padding: 10px 11px;
}

#spangler footer .footitems .socialconnect .playstore {
  width: 50%;
  margin-top: 10px;
}

#spangler footer .footitems .socialconnect .playstore img {
  border: 0.5px solid #cccccc;
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  #morrison .time .timeline::after {
    left: 31px;
  }
  #morrison .time .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  #morrison .time .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #696051 transparent transparent;
  }
  #morrison .time .left::after {
    left: 21px;
  }
  #morrison .time .right {
    left: 0%;
  }
  #morrison .time .right::after {
    left: 21px;
  }
  #morrison .time .left {
    text-align: left;
  }
  #morrison .time .left h2 {
    float: none;
  }
  #morrison .time p {
    font-size: 0.7rem;
  }
  #morrison .profile {
    display: block;
  }
  #morrison .profile .about {
    width: 100%;
  }
  #morrison .profile .about .abouttext .col h4 {
    font-weight: bold;
    font-size: 1rem;
  }
  #morrison .profile .about .abouttext .col p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  #morrison .profile .about .abouttext .col button {
    border: 1px solid white;
    padding: 4px 8px;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 10px 0px;
  }
  #morrison .profile .about .abouttext .col .cv {
    margin-right: 20px;
    background: transparent;
    color: white;
  }
  #morrison .profile .about .abouttext .col .hire {
    background: white;
    color: black;
  }
  #morrison .profile .doing {
    width: 100%;
  }
  #morrison .profile .doing h4 {
    font-size: 1rem;
  }
  #morrison .profile .doing p {
    font-size: 0.7rem;
  }
  #morrison footer {
    padding: 15px 10px;
  }
  #morrison footer h1 {
    margin: 0px;
  }
  #morrison footer h6 {
    color: white;
    font-size: 0.6rem;
    text-align: center;
  }
  #morrison footer .social {
    display: flex;
    max-width: 340px;
    justify-content: space-around;
    margin: 20px auto;
  }
  #morrison footer .social a {
    color: white;
    padding: 7px 9px;
  }
  #morrison footer .social a i {
    font-size: 1.1rem;
  }
  #morrison footer .social .fb {
    padding: 7px 12px;
  }
  #morrison footer .social .gmail {
    padding: 7px 10px;
  }
  #morrison footer .social .gmail i {
    font-size: 1rem;
  }
  #morrison .affiliates {
    padding: 30px 0px;
  }
  #morrison .testify {
    padding: 30px 0px;
  }
  #morrison .testify h4 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  #morrison .testify .tst {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.6rem;
  }
  #morrison .testify .tst .carousel {
    margin: 0px 20px;
  }
  #morrison .testify .tst .item {
    height: 150px;
    width: 300px;
    padding: 10px;
  }
  #morrison .testify .tst .item img {
    width: 35px;
  }
  #morrison .testify .tst .item p {
    padding: 10px;
  }
  #morrison .testify .tst .item h4 {
    font-weight: bolder;
    font-size: 0.6rem;
  }
  #morrison .testify .tst a {
    width: 30px;
    color: white;
  }
  #morrison .skills {
    padding: 40px 0px;
  }
  #morrison .skills .skillarea {
    width: 90%;
    margin: 0 auto;
  }
  #morrison .skills .stacks {
    width: 90%;
    margin: 0px auto;
  }
  #morrison .skills .stacks .stack:hover {
    transform: scale(1.2);
  }
  #morrison .skills .stacks .stack {
    position: relative;
    width: 70px;
    transition: all 0.3s;
  }
  #morrison .skills .stacks .stack .stackitem {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
  }
  #morrison .skills .stacks .stack .s1 {
    border-top: 5px solid #696051;
  }
  #morrison .skills .stacks .stack .s2 {
    border-bottom: 5px solid #696051;
  }
  #morrison .skills .stacks .stack .s3 {
    border-left: 5px solid #696051;
  }
  #morrison .skills .stacks .photo {
    position: absolute;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #morrison .skills .stacks img {
    width: 100%;
  }
  #morrison .skills button {
    border: 1px solid white;
    padding: 8px 16px;
    font-size: 0.7rem;
    color: white;
    background: transparent;
    transition: all 0.4s;
    width: 150px;
  }
  #morrison .skills p {
    font-size: 0.7rem;
    line-height: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 15px 0px 15px 0px;
  }
  #morrison .projs .projfilter {
    padding: 20px 0px;
  }
  #morrison .projs .projfilter .projtitle h3 {
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 5px;
  }
  #morrison .projs .projfilter .projnav {
    display: flex;
  }
  #morrison .projs .projfilter .projnav p {
    font-size: 0.7rem;
    margin: 5px 5px 5px 5px;
    padding-bottom: 5px;
    transition: all 0.3s;
  }
  #morrison .projs .projfilter .projnav p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
    margin: 5px 5px 3px 5px;
    padding-bottom: 5px;
  }
  #morrison .projs .projfilter .projnav .all {
    font-weight: bolder;
  }
  #morrison .projs .projtiles {
    background: #f1f1f1;
    display: block;
  }
  #morrison .projs .projtiles .projtile .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  #morrison .projs .projtiles .projtile .middle .text {
    background-color: #696051;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 8px 16px;
  }
  #morrison .projs .projtiles .projtile .web, #morrison .projs .projtiles .projtile .sec {
    height: 50%;
  }
  #morrison .projs .projtiles .projtile .projpic:hover .middle {
    opacity: 1;
  }
  #morrison .projs .projtiles .projtile .projpic:hover img {
    opacity: 0.1;
    transform: scale(1.1);
  }
  #morrison .projs .projtiles .projtile .firebase {
    height: 33.3333%;
  }
  #morrison .projs .projtiles .projtile .one {
    background: #dcdcdc;
  }
  #morrison .projs .projtiles .projtile .two {
    background: #cecece;
  }
  #morrison .projs .projtiles .projtile .three {
    background: #c5c5c5;
  }
  #morrison .projs .projtiles .projtile .projpic {
    position: relative;
    height: 100%;
    width: 100%;
  }
  #morrison .projs .projtiles .projtile .projpic img {
    width: 100%;
    transition: all .5s ease;
    backface-visibility: hidden;
  }
  #morrison .projs .allproj {
    padding: 20px 0px;
  }
  #morrison .projs h3 {
    margin-top: 0px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 395px) {
  #morrison footer {
    padding: 40px 0px;
  }
  #morrison footer .social {
    max-width: 270px;
  }
  #morrison .testify {
    padding: 20px 0px;
  }
  #morrison .testify h4 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  #morrison .testify .tst {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.55rem;
  }
  #morrison .testify .tst .carousel {
    margin: 0px 20px;
  }
  #morrison .testify .tst .item {
    height: 140px;
    width: 250px;
    padding: 5px;
  }
  #morrison .testify .tst .item img {
    width: 35px;
  }
  #morrison .testify .tst .item p {
    padding: 10px;
  }
  #morrison .testify .tst .item h4 {
    font-weight: bolder;
    font-size: 0.6rem;
  }
  #morrison .testify .tst a {
    width: 30px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  #spangler .topnav a:not(:first-child) {
    display: none;
  }
  #spangler .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #spangler .topnav.responsive {
    position: relative;
  }
  #spangler .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #spangler .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=app.css.map */